@import "tailwindcss";

:root {
  --bg: #0d0d0d;
  --card: #161616;
  --text: #ffffff;
  --muted: #a1a1aa;
  --accent: #f13813;
  /* --accent: #00e676; e04d30*/
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: Inter, system-ui, sans-serif;
}

::selection {
  background: var(--accent);
  color: black;
}
